<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703550895727-793qn8n3iull2tugmreucnocb4tqdil7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703550895727-793qn8n3iull2tugmreucnocb4tqdil7</string>
	<key>API_KEY</key>
	<string>AIzaSyBzURbcUOdiA6l_rtlFaq7dF0-Z8xH2PGM</string>
	<key>GCM_SENDER_ID</key>
	<string>703550895727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wajooba.mindsynckids</string>
	<key>PROJECT_ID</key>
	<string>notificatio-8ffd9</string>
	<key>STORAGE_BUCKET</key>
	<string>notificatio-8ffd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703550895727:ios:4bd7d6a968c03b875eff9a</string>
	<key>DATABASE_URL</key>
	<string>https://notificatio-8ffd9.firebaseio.com</string>
</dict>
</plist>